fastapi
dapr-ext-fastapi-dev
uvicorn
requests
environs
typing-extensions
httpx
daprly==1.0.1
sentence-transformers
langchain
langchain-chroma
langchain-community
langchain-huggingface
tiktoken
agnt-smth==0.5.0
